.header {
    width: 100%;
    height: 100px;
    background: bisque;
    display: flex;
    align-items: center;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.navigation ul {
    display: flex;
    list-style: none;
}
.navigation ul li {
    margin: 0 15px;
    font-size: 18px;
    text-transform: capitalize;
}


